* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #20a4f3;
  --secondary-color: #ff6131;

  --shadowgrey: #232528;
  --grey: #313437;
  --lightgrey: #43464b;
  --white: #f8fafc;

  --rock-color: #824dff;
  --pop-color: #d51a7e;
  --edm-color: #e01a1e;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #232528;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
}

.logo {
  max-width: 76px;
}

.menu-btn-container,
.logo-container {
  padding: 12px 24px 12px 24px;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.menu-btn svg {
  color: var(--white);
  height: 48px;
  width: 48px;
}

.navigation-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  background-color: var(--shadowgrey);
}
.navigation-menu-show {
  display: flex;
}

nav {
  height: 100%;
  width: 100%;
}
.close-btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 24px 24px 0 0;
  margin: 0;
}

.menu-close-btn {
  height: 48px;
  width: 48px;
  color: var(--white);
  cursor: pointer;
}

.navigation-menu ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  height: 65%;
  justify-content: space-evenly;
}

.navigation-menu ul li a {
  display: flex;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  gap: 25px;
}

.nav-text {
  font-size: 1.77rem;
  font-weight: 500;
  letter-spacing: 5%;
}
